<!DOCTYPE html>

<html lang="en">
  <head>
    <title><!-- title --></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Hanamismith skeleton application.">
    <meta name="author" content="Hanamismith">

    <link title="<%= configuration.project_label %>: Favorite Icon"
          rel="icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/favicon.ico"
          sizes="32x32">
    <link title="<%= configuration.project_label %>: Icon" rel="icon" href="/icon.svg" type="image/svg+xml">
    <link title="<%= configuration.project_label %>: Apple Icon"
          rel="apple-touch-icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/apple.png"
          type="image/png">
    <link title="<%= configuration.project_label %>: Manifest" rel="manifest" href="/manifest.webmanifest">
    <link title="<%= configuration.project_label %>: Stylesheet" rel="stylesheet" href="/stylesheets/home.css" type="text/css">

    <script src="/javascripts/htmx.js"></script>
  </head>

  <body class="home-page">
    <!-- yield -->
  </body>
</html>
